{% extends 'base.html' %}


{% block title %}Lumin{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('home_app.static', filename='css/catalog.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div class="filters-div">
            <ul class="filters-list">
                <li class="filters-l"><img src="{{ url_for('home_app.static', filename='img/menu-dots.png') }}" class="logo-filter"><a href="">Всі телефони</a></li>
                <li class="filters-l"><img src="{{ url_for('home_app.static', filename='img/phone-brand/apple.png') }}" class="logo-filter"><a href="">Iphone</a></li>
                <li class="filters-l"><img src="{{ url_for('home_app.static', filename='img/phone-brand/samsung.png') }}" class="logo-filter-samsung"><a href="">Samsung</a></li>
                <li class="filters-l"><img src="{{ url_for('home_app.static', filename='img/phone-brand/huawei.png') }}" class="logo-filter"><a href="">Huawei</a></li>
                <li class="filters-l"><img src="{{ url_for('home_app.static', filename='img/phone-brand/xiaomi.png') }}" class="logo-filter"><a href="">Xiaomi</a></li>
                <li class="filters-l"><img src="{{ url_for('home_app.static', filename='img/phone-brand/motorola.png') }}" class="logo-filter"><a href="">Motorola</a></li>
            </ul>
        </div>
        <div class="content">
            <ul class="content-list">
                {% for product in list_products %}
                    <a href="/product/{{ product.id }}{{ product.color }}&{{ product.memory }}" class="phone-link">
                        <li class="content-l">
                            <img src="{{ url_for('home_app.static', filename='img/phones/' + product.image) }}" class="phone">
                            <h2>{{ product.description }}</h2>
                            <div class="price">
                                <h1>{{ product.price }}</h1>
                                <button class="blue-cart-b">
                                    <img src="{{ url_for('home_app.static', filename='img/blue-cart.png') }}" class="blue-cart">
                                </button>
                            </div>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}