{% extends 'base.html' %}


{% block title %}Lumin{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('home_app.static', filename='css/catalog.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.js"></script>
    <script src="{{ url_for('home_app.static', filename='js/catalog.js') }}" defer></script>
{% endblock %}

{% block content %}
    <main>
        <div class="filters-div">
            <form class="brand-filters-list">
                <h2>Ціна:</h2>
                <div class="price-filter">
                    <input type="number" value="{{ low_price }}" class="min-price-filter" name="min-price">
                    <p>-</p>
                    <input type="number" value="{{ max_price }}" class="max-price-filter" name="max-price">
                    <input type="hidden" name="" value="{{ max_price_all }}" class="max-all">
                    <input type="hidden" name="" value="{{ min_price_all }}" class="min-all">
                    <button class="price-filter-button">ОК</button>
                </div>
                <div id="price-range" data-min-price="{{ low_price }}" data-max-price="{{ max_price }}"></div>
                <h2 style="border-top: 1px solid #D3D3D3;">Бренди:</h2>
                {% for brand in list_brands %}
                <button class="filters-l">
                    <input class="filter-checkbox" type="checkbox" value="{{ brand }}" name="brand" {% if brand in list_search_brand %} checked {% endif %}>
                    <img src="{{ url_for('home_app.static', filename='img/brands/' + brand + '.png') }}" alt="">
                    <p href="">{{ brand }}</p>
                </button>
                {% endfor %}
            </form>
        </div>
        <div class="content">
            <ul class="content-list">
                {% for product in list_products %}
                    <li class="content-l">
                        <a href="/product/{{ product.id }}&{{ product.color }}&{{ product.memory }}" class="phone-link">
                            <div id="catalog-img-handler"><img src="{{ url_for('home_app.static', filename='img/phones/' + product.image) }}" class="phone"></div>
                            <h2>{{ product.description }}</h2>
                        </a>
                        <div class="price">
                            <h1>{{ product.price }}</h1>
                            <button class="blue-cart-b" id="product-{{ product.id }}">
                                <img src="{{ url_for('home_app.static', filename='img/blue-cart.png') }}" class="blue-cart">
                            </button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}