{% extends 'base.html' %}


{% block title %}Lumin{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('home_app.static', filename='css/catalog.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div class="filters-div">
            <form class="brand-filters-list">
                {% for brand in list_brands %}
                <button class="filters-l">
                    <input type="checkbox">
                    <img src="{{ url_for('home_app.static', filename='img/brands/' + brand + '.png') }}" alt="">
                    <p href="">{{ brand }}</p>
                </button>
                {% endfor %}
            </form>
        </div>
        <div class="content">
            <ul class="content-list">
                {% for product in list_products %}
                    <li class="content-l">
                        <a href="/product/{{ product.id }}&{{ product.color }}&{{ product.memory }}" class="phone-link">
                            <div id="catalog-img-handler"><img src="{{ url_for('home_app.static', filename='img/phones/' + product.image) }}" class="phone"></div>
                            <h2>{{ product.description }}</h2>
                        </a>
                        <div class="price">
                            <h1>{{ product.price }}</h1>
                            <button class="blue-cart-b" id="product-{{ product.id }}">
                                <img src="{{ url_for('home_app.static', filename='img/blue-cart.png') }}" class="blue-cart">
                            </button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}