{% extends 'base.html' %}


{% block title %}Lumin{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('home_app.static', filename='css/product.css') }}">
    <script src="{{ url_for('home_app.static', filename='js/product.js') }}" defer></script>
{% endblock %}

{% block content %}
    <main>
        <div id="image-div"><img src="{{ url_for('home_app.static', filename='img/phones/' + product.image) }}" id="phone"></div>
        <div class="product-info">
            <h1 class="phone-description">{{ product.description }}</h1>
            <div class="chosen-color-div">
                <h1>Колiр: </h1>
                <h1 class="chosen-color-text">{{ active_color }}</h1>
            </div>
            <form class="colors-list" method="post">
                {% for color in colors %}
                    {% if 'active' in color %}
                        <button class="color-frame" name="color_button" value="{{ color.split( )[0] }}" id="color-frame-active"><div class="color" style="background-color: {{ color.split( )[0] }};"></div></button>
                    {% else %}
                        <button class="color-frame" name="color_button" value="{{ color }}"><div class="color" style="background-color: {{ color }};"></div></button>
                    {% endif %}
                {% endfor %}
            </form>
                <div class="chosen-memory-div">
                    <h1>Вбудована пам'ять: </h1>
                    <h1 class="chosen-memory-text">{{ active_memory }}</h1>
                </div>
            <form method="post" class="memory-list">
                {% for memory in memories %}
                    {% if 'active' in memory %}
                        <button class="memory-button" name="memory_button" value="{{ memory.split( )[0] }}" id="memory-button-active">{{ memory.split( )[0] }}</button>
                    {% else %}
                        <button class="memory-button" name="memory_button" value="{{ memory }}">{{ memory }}</button>
                    {% endif %}
                {% endfor %}
            </form>
            <div class="buy-product-frame">
                <p>Є в наявності</p>
                <div class="buy-product">
                    <h1>{{ product.price }}</h1>
                    <a href="/order_processing/{{ product.id }}" style="text-decoration: none;"><button class="buy-button"><img src="{{ url_for('home_app.static', filename='img/cart.png') }}"> Купити</button></a>
                    <button class="add-to-cart-button" id="product-{{ product.id }}">Додати до кошика</button>
                    <button class="button-comparison"><img src="{{ url_for('home_app.static', filename='img/comparison_dark.png') }}"></button>         
                </div>
            </div>
            <div class="additional-services-frame">
                <p>Додаткові послуги</p>
                <div class="additional-services">
                    <div class="additional-service">
                        <input class="button-confirm" type="checkbox" name="" id="">
                        <img src="{{ url_for('home_app.static', filename='img/additional-services/garantee.webp') }}">
                        <p>Сервіси гарантій</p>
                    </div>
                    <div class="additional-service">
                        <input class="button-confirm" type="checkbox" name="" id="">
                        <div class="resize-image-div"><img src="{{ url_for('home_app.static', filename='img/additional-services/films.webp') }}"></div>
                        <p>Фільми, серіали, мультфільми, ТВ передачі онлайн</p>
                    </div>
                    <div class="additional-service">
                        <input class="button-confirm" type="checkbox" name="" id="">
                        <img src="{{ url_for('home_app.static', filename='img/additional-services/protect.webp') }}">
                        <p>Сервіс для негарантійних випадків</p>
                    </div>
                    <div class="additional-service">
                        <input class="button-confirm" type="checkbox" name="" id="">
                        <img src="{{ url_for('home_app.static', filename='img/additional-services/free_choice.webp') }}">
                        <p>Сервіс «Вільний вибір»</p>
                    </div>
                    <div class="additional-service">
                        <input class="button-confirm" type="checkbox" name="" id="">
                        <div class="resize-image-div"><img src="{{ url_for('home_app.static', filename='img/additional-services/office.webp') }}"></div>
                        <p>Microsoft Office</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}