main{
    display: flex;
    margin-top: 100px;
    gap: 20px;
    flex-direction: column;
}
.body-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.body-header h1{
    font-size: 32px;
}
.body-header h2{
    font-size: 24px;
    color: #5A95FF;
    display: flex;
    align-items: center;
    gap: 5px;
}
.body-header h2:hover{
    cursor: pointer;
}
.body-header h2 img{
    width: 25px;
}
.categories{
    display: flex;
    width: 100%;
    gap: 10px;
}
.categories p{
    font-size: 20px;
    color: #5A95FF;
    width: 11%;
    text-align: center;
    margin-top: 15px;
}
#products-ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-info{
    display: flex;
    gap: 10px;
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    padding: 25px 0;
}
.product-info h1{
    width: 11%;
    text-align: center;
    font-weight: 100;
    font-size: 28px;
}
.image-size-handler{
    width: 11%;
    height: 127px;
    display: flex;
    justify-content: center;
}
.image-size-handler img{
    max-width: 100%;
    max-height: 100%;
}
.category-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 11%;
    flex-wrap: wrap;
    gap: 3px;
}
.category-div img{
    max-width: 33%;
}
.color-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 8px;
    background-color: white;
}
.color{
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid black;
}
.memory-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 14px;
}
.product-info h2{
    width: 11%;
    text-align: center;
}
.actions{
    display: flex;
    width: 11%;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.button-edit, .button-delete{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.button-edit{
    background-color: rgba(22, 157, 45, 0.56);
}
.button-delete{
    background-color: rgba(254, 0, 0, 0.6);
}
.button-edit img, .button-delete img{
    max-width: 22px;
}
.button-edit:hover{
    cursor: pointer;
    background-color: rgba(0, 100, 17, 0.672);
}
.button-delete:hover{
    cursor: pointer;
    background-color: rgba(200, 4, 4, 0.739);
}
.add-new-product-text {
    position: relative;
}
.add-new-product-text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5A95FF;
    transition: width 0.6s;
}
.add-new-product-text:hover::after {
    width: 100%;
}