main{
    display: flex;
    margin-top: 100px;
    gap: 20px;
    flex-direction: column;
}
.body-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.body-header h1{
    font-size: 32px;
}
.body-header h2{
    font-size: 24px;
    color: #5A95FF;
    display: flex;
    align-items: center;
    gap: 5px;
}
.body-header h2:hover{
    cursor: pointer;
}
.body-header h2 img{
    width: 25px;
}
.categories{
    display: flex;
    width: 100%;
    gap: 10px;
}
.categories p{
    font-size: 20px;
    color: #5A95FF;
    width: 11%;
    text-align: center;
    margin-top: 15px;
}
#products-ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-info{
    display: flex;
    gap: 10px;
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    padding: 25px 0;
}
.product-info h1{
    width: 11%;
    text-align: center;
    font-weight: 100;
    font-size: 28px;
}
.image-size-handler{
    width: 11%;
    height: 127px;
    display: flex;
    justify-content: center;
}
.image-size-handler img{
    max-width: 100%;
    max-height: 100%;
}
.category-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 11%;
    flex-wrap: wrap;
    gap: 3px;
}
.category-div img{
    max-width: 33%;
}
.color-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 8px;
    background-color: white;
}
.color{
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid black;
}
.memory-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 14px;
}
.product-info h2{
    width: 11%;
    text-align: center;
}
.actions{
    display: flex;
    width: 11%;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.button-edit, .button-delete{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.button-edit{
    background-color: rgba(22, 157, 45, 0.56);
}
.button-delete{
    background-color: rgba(254, 0, 0, 0.6);
}
.button-edit img, .button-delete img{
    max-width: 22px;
}
.button-edit:hover{
    cursor: pointer;
    background-color: rgba(0, 100, 17, 0.672);
}
.button-delete:hover{
    cursor: pointer;
    background-color: rgba(200, 4, 4, 0.739);
}
.add-new-product-text {
    position: relative;
}
.add-new-product-text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5A95FF;
    transition: width 0.6s;
}
.add-new-product-text:hover::after {
    width: 100%;
}
.product-overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(2, 0, 29, 0.2);
    backdrop-filter: blur(10px);
    z-index: 2;
}
.add-div, .edit-main-product{
    display: none;
    width: 460px;
    height: fit-content;
    max-height: 700px;
    padding: 0 10px 15px 10px;
    gap: 25px;
    border-radius: 30px;
    background-color: #434242;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}
.new-product-header{
    width: 100%;
    min-height: 80px;
    padding: 0 10px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #D4D4D4;
    position: relative;
}
.new-product-header h1{
    color: white;
    font-size: 32px;
    font-weight: 500;
}
.cancel, .cancel-choose-edit{
    width: 30px;
    transition: all 0.3s ease;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}
.cancel:hover, .cancel-choose-edit:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 4px 4px rgba(132, 132, 132, 0.25));
    cursor: pointer;
}
.new-product-info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}
.new-product-input{
    position: relative;
    width: 100%;
}
.new-product-input .input{
    width: 100%;
    padding: 12px;
    border: 2px solid #dddddd;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    outline: none;
    background: transparent;
    word-wrap: break-word; /* This forces the text to wrap */
    /* Alternatively, you can use this: */
    overflow-wrap: break-word;
}
.new-product-input label{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: #434242;
    padding: 0 5px;
    color: #c4c3c3;
    font-size: 16px;
    transition: all 0.3s ease;
}
.new-product-input .input:focus + label, 
.new-product-input .input:not(:placeholder-shown) + label {
    top: 0;
    left: 20px;
    font-size: 14px;
    color: white;
}
.new-product-input-memory:hover{
    cursor: pointer;
}
.new-product-input-memory .input{
    padding-right: 40px;
}
.dropdown-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    width: 100%;
}
.dropdown-menu button{
    width: 80px;
    padding: 10px 5px;
    background-color: #434242;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    color: white;
    margin-right: 0px;
    z-index: 1;
}
.dropdown-menu button:hover{
    cursor: pointer;
    background-color: #5e5e5e;
}
.dropdown-menu-button{
    padding: 10px;
    position: absolute;
    right: 7;
    top: 5;
    background-color: transparent;
    transition: 0.5s;
}
.dropdown-menu-button:hover{
    cursor: pointer;
}
#add-button-handler{
    width: 100%;
    display: flex;
    justify-content: center;
}
.add-button{
    padding: 15px 20px;
    margin-top: -5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: fit-content;
}
.add-button:hover{
    cursor: pointer;
    background-color: rgb(32, 32, 32);
}
.div-show{
    width: 340px;
    padding: 20px 0;
    background-color: hsla(0, 0%, 0%, 0.698);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 40px;
    border-radius: 30px;
    position: relative;
}
.div-show h1{
    color: white;
}
.div-show button{
    background-color: rgba(0, 0, 0, 0);
}
.div-show p{
    color: #5A95FF;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
.div-show p:hover{
    cursor: pointer;
}
.cancel-choose-edit{
    position: absolute;
    top: 15px;
    right: 15px;
}
.div-show p::after, .div-show p::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    background-color: #5A95FF;
    transition: width 0.6s;
}
.div-show p::after{
    left: 50%;
}
.div-show p::before{
    right: 50%;
}
.div-show p:hover::after, .div-show p:hover::before{
    width: 50%;
}
.show_divercities{
    max-height: 50%;
    padding: 40px;
    height: auto;
    width: auto;
    flex-wrap: wrap;
}
.cancel-show{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
}