{% extends 'base.html' %}


{% block title %}Lumin{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='css/admin.css') }}">
    <script src="{{ url_for('admin_app.static', filename='js/admin.js') }}" defer></script>
{% endblock %}

{% block content %}
    <main>
        <div class="body-header">
            <h1>Products</h1>
            <h2 class="add-new-product-text">Add new <img src="{{ url_for('admin_app.static', filename='img/add.png') }}" alt=""></h2>
        </div>
        <div class="categories">
            <p>name</p>
            <p>image</p>
            <p>images</p>
            <p>brand</p>
            <p>price</p>
            <p>colors</p>
            <p>memories</p>
            <p>description</p>
            <p>actions</p>
        </div>
        <ul id="products-ul">
            {% for product in all_products %}
                <li class="product-info">
                    <h1>{{ product.name }}</h1>
                    <div class="image-size-handler"><img src="{{ url_for('home_app.static', filename='img/phones/' + product.image) }}" alt=""></div>
                    <div class="category-div" style="gap: 10px;">
                        {% for image in list_images %}
                            {% if product.id == image[0] %}
                                <img src="{{ url_for('home_app.static', filename='img/phones/' + image[1]) }}" alt="">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <h1>{{ product.brand }}</h1>
                    <h1>{{ product.price }}</h1>
                    <div class="category-div">
                        {% for color in list_colors %}
                            {% if product.id == color[0] %}
                                <button class="color-frame" name="color_button" value="{{ color[1] }}"><div class="color" style="background-color: {{ color[1] }}"></button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="category-div" style="gap: 5px;">
                        {% for memory in list_memories %}
                            {% if product.id == memory[0] %}
                                <button type="button" class="memory-button" name="memory_button" value="{{ memory[1] }}">{{ memory[1] }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <h2>
                        {{ product.description }}
                    </h2>
                    <div class="actions">
                        <button class="button-edit" id="{{ product.id }}" value="{{ product.name }}"><img src="{{ url_for('admin_app.static', filename='img/edit.png') }}" alt=""></button>
                        <form action="" method="post">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button class="button-delete"><img src="{{ url_for('admin_app.static', filename='img/delete.png') }}" alt=""></button>
                        </form>
                        <p></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if edit_product %}<div class="product-overlay" style="display: flex;">{% else %}<div class="product-overlay">{% endif %}
            <div class="new-product-div add-div">
                <div class="new-product-header">
                    <h1>Новий продукт</h1>
                    <img class="cancel-new-product cancel" src="{{ url_for('admin_app.static', filename='img/cross.png') }}" alt="">
                </div>
                <form class="new-product-info-container" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="add_product_form">
                    <div class="new-product-input">
                        <input class="input" autocomplete="off" type="text" placeholder="" name="name" required>
                        <label>Name</label>
                    </div>
                    <div class="new-product-input">
                        <input class="input" type="file" accept="image/webp" name="image" required>
                        <label>Image</label>
                    </div>
                    <div class="new-product-input">
                        <input class="input" autocomplete="off" type="text" placeholder="" name="brand" required>
                        <label>Brand</label>
                    </div>
                    <div class="new-product-input">
                        <input class="input" autocomplete="off" type="text" placeholder="" name="price" required>
                        <label>Price</label>
                    </div>
                    <div class="new-product-input">
                        <input class="input" autocomplete="off" type="text" placeholder="" name="color" required>
                        <label>Color</label>
                    </div>
                    <div class="new-product-input new-product-input-memory">
                        <input class="input" autocomplete="off" type="text" placeholder="" name="memory" required>
                        <label>Memory</label>
                        <button type="button" class="dropdown-menu-button"><img src="{{ url_for('home_app.static', filename='img/arrow-down.png') }}" class="arrow"></button>
                        <div class="dropdown-menu">
                            <button type="button">64GB</button>
                            <button type="button">128GB</button>
                            <button type="button">256GB</button>
                            <button type="button">512GB</button>
                            <button type="button">1024GB</button>
                        </div>
                    </div>
                    <div class="new-product-input">
                        <textarea class="input" style="height: 70px" type="text" placeholder="" name="description" required></textarea>
                        <label>Description</label>
                    </div>
                    <div id="add-button-handler"><button type="submit" class="add-button">Додати</button></div>
                </form>
            </div>
            <div class="choose-edit div-show">
                <h1></h1>
                <button class="edit-main-product-text"><p>Edit Main Product</p></button>
                <form action="" method="post" class="edit-main-product-form" style="display: none;"><input type="hidden" name="edit_product_id" value=""></form>
                <button class="edit-diversity-product-text"><p>Edit Product Diversities</p></button>
                <form action="" method="post" class="edit-product-diversity-form" style="display: none;"><input type="hidden" name="edit_diversity_id" value=""></form>
                <button class="add-diversity-product-text"><p>Add Product Diversity</p></button>
                <form action="" method="post" class="add-diversity-product-form" style="display: none;"><input type="hidden" name="add_diversity_id" value=""></form>
                <button class="remove-diversity-product-text"><p>Remove Product Diversity</p></button>
                <form action="" method="post" class="remove-diversity-product-form" style="display: none;"><input type="hidden" name="remove_diversity_id" value=""></form>
                <img class="cancel-choose-edit" src="{{ url_for('admin_app.static', filename='img/cross.png') }}" alt="">
            </div>
            {% if edit == 'product' %}
                <div class="edit-main-product" style="display: flex;">
                    <div class="new-product-header">
                        <h1>Main Product</h1>
                        <img class="cancel-edit-main cancel" src="{{ url_for('admin_app.static', filename='img/cross.png') }}" alt="">
                    </div>
                    <form class="new-product-info-container" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="edit_main_product_form" value="{{ edit_product.id }}">
                        <div class="new-product-input">
                            <input class="input" autocomplete="off" type="text" placeholder="" name="name" value="{{ edit_product.name }}" required>
                            <label>Name</label>
                        </div>
                        <div class="new-product-input" style="display: flex;">
                            <input class="input" type="file" accept="image/webp" name="image">
                            <label>Image</label>
                            <img src="{{ url_for('home_app.static', filename='img/phones/' + edit_product.image) }}" style="max-width: 50px; max-height: 50px;" alt="">
                        </div>
                        <div class="new-product-input">
                            <input class="input" autocomplete="off" type="text" placeholder="" name="brand" value="{{ edit_product.brand }}" required>
                            <label>Brand</label>
                        </div>
                        <div class="new-product-input">
                            <input class="input" autocomplete="off" type="text" placeholder="" name="price" value="{{ edit_product.price }}" required>
                            <label>Price</label>
                        </div>
                        <div class="new-product-input">
                            <input class="input" autocomplete="off" type="text" placeholder="" name="color" value="{{ edit_product.color }}" required>
                            <label>Color</label>
                        </div>
                        <div class="new-product-input new-product-input-memory edit-product-input-memory">
                            <input class="input" autocomplete="off" type="text" placeholder="" name="memory" value="{{ edit_product.memory }}" required>
                            <label>Memory</label>
                            <button type="button" class="dropdown-menu-button dropdown-menu-button2"><img src="{{ url_for('home_app.static', filename='img/arrow-down.png') }}" class="arrow"></button>
                            <div class="dropdown-menu dropdown-menu2">
                                <button type="button">64GB</button>
                                <button type="button">128GB</button>
                                <button type="button">256GB</button>
                                <button type="button">512GB</button>
                                <button type="button">1024GB</button>
                            </div>
                        </div>
                        <div class="new-product-input">
                            <textarea class="input" style="height: 70px" type="text" placeholder="" name="description" required>{{ edit_product.description }}</textarea>
                            <label>Description</label>
                        </div>
                        <div id="add-button-handler"><button type="submit" class="add-button">Змінити</button></div>
                    </form>
                </div>
            {% elif edit == 'diversities' %}
                {% if action == 'show' or action == 'remove' %}
                    <div style="position: relative;">
                        <div style="height: 0px;">
                            <img class="cancel-show cancel" src="{{ url_for('admin_app.static', filename='img/cross.png') }}" alt="">
                        </div>
                        <div class="show_divercities div-show" style="display: flex;">
                            {% for diversity in edit_product.product_diversity %}
                                <p class="show_or_remove_p" id="{{ diversity.id }}">{{ diversity.color }}; {{ diversity.memory }}</p>
                            {% endfor %}
                            {% if action == 'remove' %}
                                <form action="" method="post" class="remove-diversity-form" style="display: none;"><input type="hidden" name="remove-diversity-input" value=""></form>
                            {% else %}
                                <form action="" method="post" class="edit-diversity-form" style="display: none;"><input type="hidden" name="edit-diversity-input" value=""></form>
                            {% endif %}
                        </div>
                    </div>
                {% elif action == 'add' %}
                    <div class="new-diversity-div add-div" style="display: flex;">
                        <div class="new-product-header">
                            <h1>Новий Варіант</h1>
                            <img class="cancel-new-diversity cancel" src="{{ url_for('admin_app.static', filename='img/cross.png') }}" alt="">
                        </div>
                        <form class="new-product-info-container" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="add_diversity_form" value="{{ edit_product.id }}">
                            <div class="new-product-input">
                                <input class="input" type="file" accept="image/webp" name="image">
                                <label>Image</label>
                            </div>
                            <div class="new-product-input">
                                <input class="input" autocomplete="off" type="text" placeholder="" name="price" required>
                                <label>Price</label>
                            </div>
                            <div class="new-product-input">
                                <input class="input" autocomplete="off" type="text" placeholder="" name="color" required>
                                <label>Color</label>
                            </div>
                            <div class="new-product-input new-product-input-memory">
                                <input class="input" autocomplete="off" type="text" placeholder="" name="memory" required>
                                <label>Memory</label>
                                <button type="button" class="dropdown-menu-button"><img src="{{ url_for('home_app.static', filename='img/arrow-down.png') }}" class="arrow"></button>
                                <div class="dropdown-menu">
                                    <button type="button">64GB</button>
                                    <button type="button">128GB</button>
                                    <button type="button">256GB</button>
                                    <button type="button">512GB</button>
                                    <button type="button">1024GB</button>
                                </div>
                            </div>
                            <div class="new-product-input">
                                <textarea class="input" style="height: 70px" type="text" placeholder="" name="description" required></textarea>
                                <label>Description</label>
                            </div>
                            <div id="add-button-handler"><button type="submit" class="add-button">Додати</button></div>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    </main>
{% endblock %}