{% extends 'base.html' %}


{% block title %}Lumin{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div class="body-header">
            <h1>Products</h1>
            <h2 class="add-new-product-text">Add new <img src="{{ url_for('admin_app.static', filename='img/add.png') }}" alt=""></h2>
        </div>
        <div class="categories">
            <p>name</p>
            <p>image</p>
            <p>images</p>
            <p>brand</p>
            <p>price</p>
            <p>colors</p>
            <p>memories</p>
            <p>description</p>
            <p>actions</p>
        </div>
        <ul id="products-ul">
            {% for product in all_products %}
                <li class="product-info">
                    <h1>{{ product.name }}</h1>
                    <div class="image-size-handler"><img src="{{ url_for('home_app.static', filename='img/phones/' + product.image) }}" alt=""></div>
                    <div class="category-div" style="gap: 10px;">
                        {% for image in list_images %}
                            {% if product.id == image[0] %}
                                <img src="{{ url_for('home_app.static', filename='img/phones/' + image[1]) }}" alt="">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <h1>{{ product.brand }}</h1>
                    <h1>{{ product.price }}</h1>
                    <div class="category-div">
                        {% for color in list_colors %}
                            {% if product.id == color[0] %}
                                <button class="color-frame" name="color_button" value="{{ color[1] }}"><div class="color" style="background-color: {{ color[1] }}"></button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="category-div" style="gap: 5px;">
                        {% for memory in list_memories %}
                            {% if product.id == memory[0] %}
                                <button class="memory-button" name="memory_button" value="{{ memory[1] }}">{{ memory[1] }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <h2>
                        {{ product.description }}
                    </h2>
                    <div class="actions">
                        <button class="button-edit"><img src="{{ url_for('admin_app.static', filename='img/edit.png') }}" alt=""></button>
                        <button class="button-delete"><img src="{{ url_for('admin_app.static', filename='img/delete.png') }}" alt=""></button>
                        <p></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}