*{
    margin: 0px;
    padding: 0px;
    border: none;
}
body{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}
header{
    position: fixed;
    width: 100%;
    height: 72px;
    background-color: #221F1F;
    z-index: 2;
}
.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 1600px;
    justify-content: center;
}
.button-menu{
    display: flex;
    background-color: #221F1F;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 16px;
}
.button-menu:hover{
    cursor: pointer;
    background-color: #443F3F;
}
#menu{
    width: 24px;
    height: 26px;
    padding-left: 5px;
    padding-right: 5px;
}
.logo{
    width: 60px;
    height: 60px;
    margin-right: 24px;
}
.logo:hover{
    cursor: pointer;
}
.search-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    margin: 0px;
    margin-right: 8px;
}
.badge{
    position: absolute;
    min-width: 20px;
    height: 20px;
    box-sizing: border-box;
    right: 0;
    top: 0;
    transform: translate(20%, -10%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50px;
    font-size: 15px;
    background-color: #3869F3;
    color: #fff;
}
.search-form__input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.search-form__input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 0;
    font-size: 14px;
    border-radius: 8px;
    z-index: 2;
}
.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.overlay-reg{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(2, 0, 29, 0.2);
    backdrop-filter: blur(10px);
    z-index: 3;
}
.auth, .reg, .change-password-div{
    width: 340px;
    background-color: hsla(0, 0%, 0%, 0.698);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    box-sizing: border-box;
    gap: 40px;
    border-radius: 30px;
    position: relative;
}
.account{
    width: 340px;
    height: 277px;
    background-color: hsla(0, 0%, 0%, 0.698);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    box-sizing: border-box;
    gap: 40px;
    border-radius: 30px;
    position: relative;
}
.account button{
    background-color: rgba(0, 0, 0, 0);
}
.reg p, .auth p, .account p, .change-password-form p{
    color: #5A95FF;
    text-decoration: none;
}
.p{
    position: relative;
}
.p::after, .p::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    background-color: #5A95FF;
    transition: width 0.6s;
}
.p::after{
    left: 50%;
}
.p::before{
    right: 50%;
}
.p:hover::after, .p:hover::before{
    width: 50%;
}
.account p{
    font-size: 16px;
}
.reg h1, .auth h1, .account h1, .change-password-div h1{
    color: white;
}
.reg p:hover, .auth p:hover, .account p:hover, .change-password-div p:hover{
    cursor: pointer;
}
.reg-form, .change-password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 270px;
}
.reg-form input, .change-password-form input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    border-radius: 20px;
    padding: 0 15px;
}
.cart-div{
    display: none;
    width: 900px;
    height: fit-content;
    max-height: 650px;
    padding: 0 10px;
    gap: 40px;
    border-radius: 30px;
    background-color: hsla(0, 0%, 0%, 0.698);
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}
.cart-header{
    width: 100%;
    min-height: 80px;
    padding: 0 15px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #D4D4D4;
    position: relative;
}
.cart-header h1{
    color: white;
    font-size: 32px;
    font-weight: 500;
}
.cancel-cart, .cancel-acc {
    transition: all 0.3s ease;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}

.cancel-cart:hover, .cancel-acc:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 4px 4px rgba(132, 132, 132, 0.25));
    cursor: pointer;
}
.cancel-acc{
    position: absolute;
    top: 15px;
    right: 15px;
}
.cart-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 879px;
    height: 150px;
    gap: 10px;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    background-color: white;
}
.image-handler{
    min-width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-handler img{
    max-width: 100%;
    max-height: 100%;
}
.cart-item-interaction{
    width: fit-content;
    height: 140px;
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.cart-item-description{
    width: 100%;
    color: black;
}
.cart-add-price{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 30px;
    box-sizing: border-box;
    align-items: center;
}
.cart-add-price h2{
    width: max-content;
    font-size: 24px;
    margin: 0;
}
.delete-cart-item{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.delete-cart-item:hover{
    cursor: pointer;
}
.delete-cart-item .basket-cover{
    transition: all 0.6s;
    transform-origin: 80% bottom;
}
.delete-cart-item:hover .basket-cover{
    transform: rotate(45deg);
}
.cart-add{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 10px;
    padding: 2px 0;
    box-sizing: border-box;
    align-items: center;
}
.cart-add input::-webkit-inner-spin-button, .cart-add input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.cart-add input{
    text-align: center;
    width: 50px;
    height: 25px;
    border: 1px solid #D4D4D4;
    border-radius: 20px;
    transition: all 0.5s;
}
.cart-add input:hover{
    border: 1px solid #5A95FF;
}
.cart-add svg:hover{
    cursor: pointer;
}
.cart-add svg path{
    transition: all 0.5s;
}
.cart-add svg:hover path{
    stroke: #3869F3;
}
.auth .error-text, .reg .error-text, .change-password-div .error-text{
    color: red;
    text-align: center;
    margin: -10px 0;
}
#empty-cart-id{
    width: 100%;
    display: flex;
    justify-content: center;
}
.empty-cart-text{
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    font-weight: 100;
}
.cart-total{
    position: sticky;
    right: 10px;
    bottom: 10px;
    border-radius: 20px;
    width: fit-content;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: #080a87;
    box-sizing: border-box;
    border: 1px solid #5A95FF;
}
.cart-total h1{
    color: white;
    font-size: 36px;
    font-weight: 500;
}
.process-order-button{
    width: 210px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5A95FF;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}
.process-order-button:hover{
    cursor: pointer;
    background-color: #3869F3;
}
.password{
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z' fill='%23797878'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: white;
    background-position: right 10px center;
    padding-right: 45px;
}
.button-login{
    height: 40px;
    border-radius: 20px;
    background-color: #5A95FF;
    color: white;
    font-size: 16px;
    padding: 0 30px;
}
.button-login:hover{
    cursor: pointer;
    background-color: #3869F3;
}
.search-form__input:focus{
    outline: none;
}
.search-form__micro{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 5px;
}
.micro{
    width: 28px;
    height: 28px;
}
.submit{
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: #3e2be6;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
}
.submit:hover{
    cursor: pointer;
    background-color: #594bf3;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 8px;
}
li{
    display: flex;
    align-items: center;
    position: relative;
}
.lang-button{
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: #221F1F;
    color: white;
    font-size: 15px;
}
.lang-button:hover{
    cursor: pointer;
}
.arrow{
    width: 16px;
    height: 16px;
}
.button-list{
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #221F1F;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.button-list:hover{
    cursor: pointer;
    transition: all 0.2s;
    background-color: #443F3F;
}
.user{
    width: 32px;
    height: 30px;
}
.comparison{
    width: 26px;
    height: 26px;
}
.cart{
    width: 30px;
    height: 30px;
}

@media(max-width: 480px){
    .search-form__input::placeholder {
        color: transparent;
    }
    .content-l{
        padding: 8px;
    }
    .content-l{
        width: 42%;;
    }
    #catalog-img-handler{
        width: 100%;
        height: 150px;
    }
    h2{
        font-size: 9px;
        height: 30px;
        text-align: center;
        display: flex;
        align-items: center;
    }
    h1{
        font-size: 25px;
    }
    .blue-cart{
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 767px){
    .header-content{
        margin-left: 8px;
        margin-right: 8px;
    }
    .search-form {
        padding-left: 12px;
        padding-right: 12px;
    }
    .submit{
        display: none;
    }
    .lang-button{
        display: none;
    }
    #button-comparison{
        display: none;
    }
    #button-user{
        display: none;
    }
    ul{
        gap: 0px;
    }
    main{
        margin-left: 8px;
        margin-right: 8px;
    }
    .brand-filters-list{
        display: none;
    }
}
@media (min-width: 768px){
    .search-form__input {
        padding-left: 40px;
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M10%202C5.58172%202%202%205.58172%202%2010C2%2014.4183%205.58172%2018%2010%2018C11.8487%2018%2013.551%2017.3729%2014.9056%2016.3199L20.2929%2021.7071C20.6834%2022.0976%2021.3166%2022.0976%2021.7071%2021.7071C22.0976%2021.3166%2022.0976%2020.6834%2021.7071%2020.2929L16.3199%2014.9056C17.3729%2013.551%2018%2011.8487%2018%2010C18%205.58172%2014.4183%202%2010%202ZM4%2010C4%206.68629%206.68629%204%2010%204C13.3137%204%2016%206.68629%2016%2010C16%2013.3137%2013.3137%2016%2010%2016C6.68629%2016%204%2013.3137%204%2010Z%22%20fill%3D%22%23797878%22/%3E%3C/svg%3E);
        background-repeat: no-repeat;
        background-position: 8px center;
    }
    main{
        margin-left: 16px;
        margin-right: 16px;
    }
    .brand-filters-list{
        display: none;
    }
    .content-l{
        width: 203px;;
    }
    #catalog-img-handler{
        width: 180px;
        height: 240px;
    }
    h2{
        font-size: 10px;
    }
    h1{
        font-size: 23px;
    }
    .blue-cart{
        width: 20px;
        height: 20px;
    }
}
@media (min-width: 1024px){
    main{
        margin-left: 24px;
        margin-right: 24px;
    }
    .brand-filters-list{
        display: flex;
    }
    .filters-div{
        border-right: 1px solid rgb(212 212 212);
        border-bottom: 1px solid rgb(212 212 212);
    }
    .content-l{
        width: 216px;;
    }
    #catalog-img-handler{
        width: 220px;
        height: 290px;
    }
    h2{
        font-size: 12.2px;
    }
    h1{
        font-size: 28px;
    }
    .blue-cart{
        width: 23.5px;
        height: 23.5px;
    }
}
@media (min-width: 1370px){
    .content-l{
        width: 250px;;
    }
    #catalog-img-handler{
        width: 250px;
        height: 330px;
    }
    h2{
        font-size: 14px;
    }
    h1{
        font-size: 32px;
    }
    .blue-cart{
        width: 27px;
        height: 27px;
    }
}
@media (min-width: 1600px){
    .header-content{
        margin: auto;
    }
}