main{
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    justify-content: center;
}
#image-div{
    width: 680px;
    height: 680px;
    display: flex;
    justify-content: center;
}
#phone{
    max-height: 100%;
    max-width: 100%;
}
.product-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 600px;
}
.phone-description{
    font-size: 18px;
    font-weight: 300;
}
.chosen-color-div{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 5px;
}
.chosen-color-div h1{
    font-size: 14px;
    font-weight: normal;
}
.chosen-color-div .chosen-color-text{
    font-weight: bolder;
}
.colors-list{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.color-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 8px;
    background-color: white;
}
.color-frame:hover{
    border: 1px solid #1D00D6;
}
#color-frame-active{
    border: 1px solid #1D00D6;
}
.color{
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid black;
}
.chosen-memory-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-top: 10px;
}
.chosen-memory-div h1{
    font-size: 14px;
    font-weight: normal;
}
.chosen-memory-div .chosen-memory-text{
    font-weight: bolder;
}
.memory-list{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.memory-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 32px;
    border-radius: 8px;
    background-color: white;
    font-size: 14px;
    color: #3E77AA;
    border: 1px solid #D4D4D4;
    transition: all 0.5s;
}
.memory-button:hover{
    border: 1px solid #1D00D6;
    color: black;
}
#memory-button-active{
    border: 1px solid #1D00D6;
    background-color: #3e78aa1a;
    color: black;
}

.buy-product-frame{
    display: flex;
    flex-direction: column;
    border: 1px solid #D4D4D4;
    border-radius: 8px;
}
.buy-product-frame p{
    font-size: 14px;
    color: #1D00D6;
    padding: 10px;
}
.buy-product{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-weight: 100;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.buy-product h1{
    font-size: 32px;
    font-weight: 300;
}
.buy-product button{
    width: 178px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
}
.buy-button{
    display: flex;
    background-color: #1D00D6;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.2s;
}
.buy-button:hover{
    cursor: pointer;
    background-color: #2200ff;
}
.buy-product img{
    width: 30px;
}
.add-to-cart-button{
    border: 1px solid #1D00D6;
    color: #1D00D6;
    background-color: white;
}
.add-to-cart-button:hover{
    cursor: pointer;
    background-color: #0003b80b;
}
.buy-product .button-comparison{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.button-comparison:hover{
    background-color: #0003b80b;
}

.additional-services-frame{
    display: flex;
    flex-direction: column;
    border: 1px solid #D4D4D4;
    border-radius: 8px;
    padding-bottom: 10px;
}
.additional-services-frame p{
    font-size: 14px;
    color: #3E77AA;
    padding: 10px;
}
.additional-services{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.additional-service{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 0px 10px;
}
.button-confirm{
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: #D4D4D4 1px solid;
    background-color: white;
    transition: all 0.3s;
}
.button-confirm:hover{
    border-color: black;
}
.additional-service img{
    height: 50px;
    border-radius: 5px;
}
.additional-service p{
    color: black;
    padding: 0px;
}
.resize-image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}